$font-type: Inter;

$primary-color: #2C373E;
$secondary_color: #3B4951;
$para_color: #46535A;

$skyblue_bgcolor: #D0E8F5;

$white_color: #F9F9F9;
$bg_color: #F4F4F4;
$bg_white: #FFFFFF;

$shadow_skycolor: linear-gradient(180deg, rgba(229, 247, 234, 0.77) 0%, #E5F7EA 68.98%);
$shadow_pinkcolor: linear-gradient(177.49deg, #F4E2E2 59.03%, rgba(246, 228, 228, 0.67) 108.23%);

